<div class="overflowContainer">
    <div class="animatedBGContainer">
        <div class="webpage"></div>
        <div class="animatedItemContainer">
            <% for(let i = 0; i < 12; i++) { %>
                <div class="animatedItem">
                    <div class="highlightColour"></div>
                    <div class="bgColour"></div> 
                </div>        
            <% } %> 
        </div>
    </div>
</div>

