<a
  tabindex="-1"
  href="/files<%= locals.currentFolder.folder ? `?folderId=${locals.currentFolder.folder}` : ''%>"
  class="backBtn"
>
  <button type="button" class="redBtn">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
</a>
