<header>
  <div class="rhombus">
    <span class="pageTitle">DogeOfFreedom's File Uploader</span>
  </div>
  <a tabindex="-1" href="/files">
    <button class="redBtn">
      <i class="fa-solid fa-house"></i>
    </button>
  </a>
  <a tabindex="-1" href="/logout">
    <button class="actionBtn">
      Log Out
      <i class="fa-solid fa-right-from-bracket"></i>
    </button>
  </a>
</header>
