<div class="loadingContainer hidden">
  <div class="loading">
    <i id="loading1" class="fa-solid fa-xmark"></i>
    <i id="loading2" class="fa-solid fa-xmark"></i>
    <i id="loading3" class="fa-solid fa-xmark"></i>
    <i id="loading4" class="fa-solid fa-xmark"></i>
  </div>
</div>
