<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Uploader</title>
  </head>
  <body class="centeredBody">
    <form class="centeredForm" method="POST" action="/login">
      <div class="formHeader">
        <h1>Login</h1>
      </div>
      <div class="formInputContainer">
        <input 
          type="text" 
          name="username" 
          id="username" 
          placeholder="Enter Username" 
          value="<%= locals.username ? locals.username : ''  %>" />
        <input 
          type="password" 
          name="password" 
          id="password" 
          placeholder="Enter Password" 
          value="<%= locals.password ? locals.password : ''  %>" />
        <% if (locals.error) { %>
          <p><%= locals.error %></p>  
        <% } %>
        <button class="borderTransition actionBtn formBtn" type="submit">Submit</button>
        <p>Don't have an account? <a tabindex="-1" href="/signup"><button type="button" class="formBtn borderTransition actionBtn">Sign Up</button></a></p>
        <div class="formBGElement"></div>
      </div>
    </form>

  </body>
</html>
