<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>Upload File</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
      <label for="file">Upload File</label>
      <input type="file" name="file" id="file" />
      <button>Submit File</button>
    </form>
  </body>
</html>
